<div class="col-md-4 col-md-offset-4">
    <h4>This is where HA-I works</h4>
    <div class="form-group" style="width:400px">
    <p>
        <input type="input" class="form-control input-sm"  ng-model="load_in">
        <button class="btn btn-primary btn-sm btn-block" ng-click="process_handshake(load_in)">Process handshake</button>
    </p>
    
    <p>
        <input class="form-control input-sm" type="input" ng-model="cookie_name" >
        <button  class="btn btn-primary btn-sm btn-block" ng-click="check_for_handshake_id(cookie_name)">Check for handshake_id</button>
    </p>
    
    <p>
        <input class="form-control input-sm" type="text" ng-model="handshake_id">
        <input class="form-control input-sm " type="text" ng-model="profile_id">
        <button  class="btn btn-primary btn-sm btn-block" ng-click="store_handshake_toPC(handshake_id,profile_id)">Merge Profile</button>
    </p>
    </div>
</div>